<div class="container p-3 text-center">
    <div class='row'>
        <nav class="nav col-9 align-items-center">
            <li class="nav-item">
                <a class="nav-link btn" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" routerLink="#">About</a>
            </li>
        </nav>
        <app-authentication class="col-3"></app-authentication>
    </div>
    <div class="row brand m-3">
        <div class='col'>Jasmine</div>
    </div>
</div>

