<div class="user" *ngIf="user">
    <div class="heading">
        <h3>Basic Info</h3>
        <button *ngIf="userProfile.disabled" class="btn" (click)="enableUpdate()">
            <fa-icon [icon]="editIcon"></fa-icon>
        </button>
        <button *ngIf="userProfile.enabled" class="btn" (click)="cancel()">
            <fa-icon [icon]="timesIcon"></fa-icon>
        </button>
    </div>
    <div class="row my-4">
        <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
            <div class="user-form">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput type="text" formControlName="firstname">
                    <mat-error *ngIf="userProfile.get('firstname').errors">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" formControlName="lastname">
                    <mat-error *ngIf="userProfile.get('lastname').errors">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" [value]="user.email" disabled>
                </mat-form-field>
            </div>
            <button class="btn" id="cancel-button" (click)="cancel()" [disabled]="userProfile.disabled">Cancel</button>
            <button type="submit" class="btn" id="submit-button" [disabled]="userProfile.disabled">Submit</button>
        </form>
    </div>
</div>
