.recipe-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.recipe-name {
    color: #FD5523;
    font-size: 350%;
    font-weight: 700;
    width: 90%;
    padding: 5%;
    border-bottom: 2px solid #37966F;
}
.recipe-description {
    font-size: 150%;
    width: 90%;
    padding: 5%;
    border-bottom: 2px solid #37966F;
}
.action-items {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 5%;
}
button {
    font-family: "Montserrat";
    font-size: 1em;
}