.user-icon {
    border-radius: 50%;
    background-color: #B9E4C9;
    opacity: 0.7;
    margin: 0 1em;
    color: #FD5523;
    font-weight: 600;
    height: 2.5em;
}
.user-icon:hover {
    opacity: 1;
}