<div *ngIf="authService.isLoggedIn()" class="user-card">
  <div class="user-info">
    <div class="user-picture">
      <div>{{ userInitial }}</div>
    </div>
    <div class="user-name" >
      {{ user.firstname }} {{ user.lastname}}
    </div>  
  </div>
  <div class="account-actions">
    <app-show-favorite-button (showFavorite)="showFavorite($event)" [favorite]="isFavorite"></app-show-favorite-button>
    <app-edit-account-button (showAccount)="showAccount($event)" [account]="isAccount"></app-edit-account-button>
    <app-delete-account-button [userId]="user._id"></app-delete-account-button>
  </div>
</div>

