/* You can add global styles to this file, and also import other style files */
/*
primary-dark: #356859
primary: #37966F
primary-light: #B9E4C9

secondary: #FD5523
background: #FFFBE6

font-big: Montserrat
font-small: Lekton
*/

/* import bootstrap css file */

html, body {
    background-color: #FFFBE6;
    font-family: "Montserrat";
    font-size: 100%;
    color: #37966F;
    height: 100%;
}
button:focus {
    outline: none;
}
.box {
    border: 1px solid black;
}

/* Customized style for material tab component */
.mat-tab-label {
    width: 50% !important;
    padding: 5%;
    color: #356859;
    font-weight: 600;
    font-size: 100%;
    text-transform: uppercase;
}
.mat-tab-label-active {
    width: 50% !important;
    padding: 5%;
    color: #356859;
    font-weight: 600;
    border-bottom: 2px solid #356859;
    font-size: 100%;
    text-transform: uppercase;
}
.mat-ink-bar {
    display: none;
}

/* Customized style for bootstrap .btn component */
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
} 
.btn {
    color: #37966F;
}
.btn:hover {
    color: #37966F;
    background-color: rgba(158, 158, 158, 0.2);
}
.btn:focus {
    box-shadow: none;
    outline: 0;
}

/* Customized style for ng material card component */
mat-card.recipe-card {
    border: 0px;
    background-color: #FFFBE6;
}
.recipe-name {
    color: #FD5523;
}

/* Customized style for nav items*/
.nav-link {
    font-size: 120%;
    color:  #37966F
}
.nav-link:hover {
    color:  #356859;
}
.custom-mat-spinner circle{
    stroke: #37966F;
}