<div *ngIf="recipes; else loading" class="container home my-4">
    <div class="row">
        <a *ngFor="let recipe of recipes" class="col-12 col-md-4" 
            routerLink="/recipeDetail/{{recipe._id}}">
            <mat-card class="recipe-card mat-elevation-z0">
                <img mat-card-image [src]="recipe.image">
                <div mat-card-content>
                    <span class="card-title recipe-name">{{ recipe.name }}</span>
                </div>
            </mat-card>
        </a>
    </div>
</div>
<ng-template #loading>
    <div class='loading'>
        <mat-spinner aria-label="loading spinner"></mat-spinner>
    </div>
</ng-template>

